# Editors
.vscode/

# OS artifacts
.DS_Store
Thumbs.db

# vscode-sops
.decrypted~*.yaml
*.agekey

# Env files
*.envrc
*.env
!docker/deploy/**/red.env

# Crash log files
crash.log

# megalinter
megalinter-reports/

# bootstrap helm charts
kubernetes/**/bootstrap/**/charts
