# Editors
.vscode/

# OS artifacts
.DS_Store
Thumbs.db

# vscode-sops
.decrypted~*.yaml
*.agekey

# Env files
*.envrc
*.env
!docker/deploy/**/red.env
!docker/deploy/**/synology.env
!docker/deploy/**/synology.sops.env
!docker/deploy/**/truenas.env
!docker/deploy/**/truenas.sops.env
!docker/deploy/targets/red/**/red.env
!docker/deploy/targets/red/**/red.sops.env

# Crash log files
crash.log

# megalinter
megalinter-reports/

# bootstrap helm charts
kubernetes/**/bootstrap/**/charts
