---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ak-outpost-${name}
  namespace: authentik-system
  labels:
    app.kubernetes.io/instance: ${name}
    app.kubernetes.io/managed-by: goauthentik.io
    app.kubernetes.io/name: authentik-proxy
    app.kubernetes.io/version: ${authentik_version}
    goauthentik.io/outpost-name: ${name}
    goauthentik.io/outpost-type: proxy
    goauthentik.io/outpost-uuid: ${outpost_uuid}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    hajimari.io/appName: ${hajimari_name}
    hajimari.io/enable: '${hajimari_enabled}'
    hajimari.io/icon: ${hajimari_icon}
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/proxy-buffer-size: 16k
    nginx.ingress.kubernetes.io/proxy-buffers-number: '4'
    traefik.ingress.kubernetes.io/affinity: 'true'
    traefik.ingress.kubernetes.io/router.entrypoints: websecure

spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - ${name}.${domain}
      secretName: ak-outpost-${name}-tls
  rules:
    - host: ${name}.${domain}
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: ak-outpost-${name}
                port:
                  name: http
